<a href="https://colab.research.google.com/github/AmrElmowafy1977/AmrElmowafy1977/blob/main/Facebooh_ads.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

##Data Importing & Inspecting

In [3]:
df = pd.read_csv('/content/facebook_ads.csv', encoding = 'cp850')
df

,Names,emails,Country,Time Spent on Site,Salary,Clicked
0,Martina Avila,cubilia.Curae.Phasellus@quisaccumsanconvallis.edu,Bulgaria,25.649648,55330.06006,0
1,Harlan Barnes,eu.dolor@diam.co.uk,Belize,32.456107,79049.07674,1
2,Naomi Rodriquez,vulputate.mauris.sagittis@ametconsectetueradip...,Algeria,20.945978,41098.60826,0
3,Jade Cunningham,malesuada@dignissim.com,Cook Islands,54.039325,37143.35536,1
4,Cedric Leach,felis.ullamcorper.viverra@egetmollislectus.net,Brazil,34.249729,37355.11276,0
...,...,...,...,...,...,...
494,Rigel,egestas.blandit.Nam@semvitaealiquam.com,Sao Tome and Principe,19.222746,44969.13495,0
495,Walter,ligula@Cumsociis.ca,Nepal,22.665662,41686.20425,0
496,Vanna,Cum.sociis.natoque@Sedmolestie.edu,Zimbabwe,35.320239,23989.80864,0
497,Pearl,penatibus.et@massanonante.com,Philippines,26.539170,31708.57054,0
498,Nell,Quisque.varius@arcuVivamussit.net,Botswana,32.386148,74331.35442,1

In [4]:
df = df.drop(['Names','emails'],axis=1)
df

                   Country  Time Spent on Site       Salary  Clicked
0                 Bulgaria           25.649648  55330.06006        0
1                   Belize           32.456107  79049.07674        1
2                  Algeria           20.945978  41098.60826        0
3             Cook Islands           54.039325  37143.35536        1
4                   Brazil           34.249729  37355.11276        0
..                     ...                 ...          ...      ...
494  Sao Tome and Principe           19.222746  44969.13495        0
495                  Nepal           22.665662  41686.20425        0
496               Zimbabwe           35.320239  23989.80864        0
497            Philippines           26.539170  31708.57054        0
498               Botswana           32.386148  74331.35442        1

[499 rows x 4 columns]

##Data Preprocessing

In [16]:
X = df.iloc[:, : -1].values
X

array([['Bulgaria', 25.64964796, 55330.06006],
       ['Belize', 32.4561067, 79049.07674],
       ['Algeria', 20.9459779, 41098.60826],
       ...,
       ['Zimbabwe', 35.32023874, 23989.80864],
       ['Philippines', 26.53917023, 31708.57054],
       ['Botswana', 32.38614783, 74331.35442]], dtype=object)

In [17]:
y = df['Clicked'].values
y

array([0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1])

###Encoding Data

In [18]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [19]:
X[:,0] = le.fit_transform(X[:,0])
X[:,0]

array([27, 17, 1, 41, 26, 100, 179, 45, 8, 171, 167, 66, 131, 140, 195,
       60, 185, 146, 34, 83, 176, 4, 133, 106, 105, 137, 39, 126, 46, 48,
       42, 24, 156, 56, 162, 28, 177, 189, 53, 57, 189, 20, 62, 124, 127,
       183, 47, 7, 180, 209, 191, 158, 200, 121, 175, 73, 50, 169, 18, 31,
       142, 97, 80, 80, 202, 112, 63, 96, 115, 61, 140, 149, 90, 168, 93,
       198, 147, 72, 69, 36, 165, 167, 49, 5, 91, 89, 49, 104, 82, 177,
       139, 64, 29, 125, 162, 33, 21, 97, 50, 69, 126, 124, 20, 192, 148,
       201, 184, 128, 161, 159, 154, 200, 195, 170, 3, 54, 128, 88, 85,
       37, 105, 101, 116, 49, 18, 101, 100, 153, 97, 83, 169, 109, 148,
       72, 9, 99, 120, 54, 113, 68, 159, 93, 52, 172, 205, 188, 138, 13,
       105, 47, 21, 163, 183, 143, 11, 140, 102, 44, 47, 208, 113, 115,
       193, 92, 104, 89, 95, 72, 65, 25, 182, 12, 98, 78, 58, 165, 209,
       207, 76, 203, 166, 1, 20, 205, 38, 155, 21, 136, 43, 90, 111, 114,
       74, 97, 75, 38, 106, 55, 96, 151, 85, 193, 158, 76, 145, 20, 1, 40,
       101, 183, 71, 160, 64, 69, 8, 38, 58, 67, 36, 153, 201, 3, 207,
       197, 58, 204, 156, 112, 151, 65, 66, 195, 147, 85, 114, 160, 202,
       19, 52, 13, 97, 135, 86, 57, 85, 112, 36, 151, 31, 160, 18, 14,
       201, 37, 144, 59, 87, 182, 145, 15, 96, 86, 193, 156, 190, 138, 58,
       70, 142, 93, 21, 151, 158, 3, 83, 172, 157, 7, 3, 186, 52, 170,
       141, 30, 165, 172, 67, 70, 190, 22, 43, 69, 43, 151, 158, 147, 114,
       53, 26, 209, 116, 101, 51, 84, 61, 23, 83, 73, 20, 109, 81, 101,
       21, 121, 124, 126, 187, 119, 113, 1, 115, 85, 163, 165, 83, 52,
       181, 116, 134, 11, 45, 25, 185, 66, 71, 153, 150, 54, 198, 123,
       158, 39, 206, 95, 191, 123, 171, 118, 112, 48, 2, 196, 8, 164, 109,
       98, 178, 155, 162, 17, 67, 35, 199, 173, 72, 0, 16, 84, 118, 48,
       72, 44, 19, 102, 0, 157, 146, 104, 199, 197, 6, 206, 94, 179, 157,
       27, 106, 25, 32, 77, 5, 117, 188, 96, 156, 10, 68, 192, 52, 122,
       94, 191, 146, 80, 55, 203, 192, 157, 42, 12, 26, 6, 162, 114, 103,
       1, 39, 89, 21, 84, 15, 168, 95, 40, 185, 79, 114, 96, 35, 4, 67,
       17, 14, 37, 132, 111, 134, 129, 8, 168, 199, 35, 50, 126, 40, 30,
       202, 118, 31, 145, 75, 59, 110, 135, 136, 42, 177, 103, 23, 66,
       107, 174, 170, 87, 141, 194, 133, 66, 81, 67, 68, 130, 107, 198, 8,
       136, 152, 189, 190, 87, 153, 106, 201, 85, 56, 207, 82, 108, 114,
       61, 125, 50, 98, 205, 160, 128, 208, 144, 24], dtype=object)

In [20]:
X

array([[27, 25.64964796, 55330.06006],
       [17, 32.4561067, 79049.07674],
       [1, 20.9459779, 41098.60826],
       ...,
       [208, 35.32023874, 23989.80864],
       [144, 26.53917023, 31708.57054],
       [24, 32.38614783, 74331.35442]], dtype=object)

In [21]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X= sc.fit_transform(X)

In [22]:
X

array([[-1.25375881, -0.79945766,  0.12825771],
       [-1.41990117, -0.05102869,  1.37859159],
       [-1.68572893, -1.31666684, -0.62194482],
       ...,
       [ 1.75341779,  0.26390739, -1.52382503],
       [ 0.69010673, -0.701647  , -1.11693508],
       [-1.30360152, -0.05872127,  1.12989966]])

###Splitting Data

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

##Model Building

In [24]:
import tensorflow.keras

In [26]:
from keras.models import Sequential
from keras.layers import Dense,ReLU

In [27]:
ann = Sequential()
ann.add(Dense(units=10, activation='ReLU'))
ann.add(Dense(units=10, activation='ReLU'))
ann.add(Dense(units=1, activation='sigmoid'))

In [28]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

##Model Training

In [29]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
13/13 [==============================] - 1s 3ms/step - loss: 0.6944 - accuracy: 0.6140
Epoch 2/100
13/13 [==============================] - 0s 2ms/step - loss: 0.6747 - accuracy: 0.7368
Epoch 3/100
13/13 [==============================] - 0s 2ms/step - loss: 0.6567 - accuracy: 0.7945
Epoch 4/100
13/13 [==============================] - 0s 2ms/step - loss: 0.6380 - accuracy: 0.8496
Epoch 5/100
13/13 [==============================] - 0s 2ms/step - loss: 0.6172 - accuracy: 0.8722
Epoch 6/100
13/13 [==============================] - 0s 2ms/step - loss: 0.5943 - accuracy: 0.8922
Epoch 7/100
13/13 [==============================] - 0s 3ms/step - loss: 0.5690 - accuracy: 0.8972
Epoch 8/100
13/13 [==============================] - 0s 2ms/step - loss: 0.5404 - accuracy: 0.9048
Epoch 9/100
13/13 [==============================] - 0s 2ms/step - loss: 0.5090 - accuracy: 0.9123
Epoch 10/100
13/13 [==============================] - 0s 2ms/step - loss: 0.4741 - accuracy: 0.9123
Epoch 11/100
13/13 [==============================] - 0s 3ms/step - loss: 0.4372 - accuracy: 0.9123
Epoch 12/100
13/13 [==============================] - 0s 3ms/step - loss: 0.3988 - accuracy: 0.9148
Epoch 13/100
13/13 [==============================] - 0s 2ms/step - loss: 0.3626 - accuracy: 0.9198
Epoch 14/100
13/13 [==============================] - 0s 2ms/step - loss: 0.3287 - accuracy: 0.9273
Epoch 15/100
13/13 [==============================] - 0s 2ms/step - loss: 0.3003 - accuracy: 0.9273
Epoch 16/100
13/13 [==============================] - 0s 3ms/step - loss: 0.2771 - accuracy: 0.9273
Epoch 17/100
13/13 [==============================] - 0s 2ms/step - loss: 0.2589 - accuracy: 0.9298
Epoch 18/100
13/13 [==============================] - 0s 3ms/step - loss: 0.2441 - accuracy: 0.9323
Epoch 19/100
13/13 [==============================] - 0s 2ms/step - loss: 0.2329 - accuracy: 0.9298
Epoch 20/100
13/13 [==============================] - 0s 3ms/step - loss: 0.2236 - accuracy: 0.9298
Epoch 21/100
13/13 [==============================] - 0s 2ms/step - loss: 0.2164 - accuracy: 0.9298
Epoch 22/100
13/13 [==============================] - 0s 2ms/step - loss: 0.2107 - accuracy: 0.9323
Epoch 23/100
13/13 [==============================] - 0s 2ms/step - loss: 0.2061 - accuracy: 0.9323
Epoch 24/100
13/13 [==============================] - 0s 2ms/step - loss: 0.2028 - accuracy: 0.9348
Epoch 25/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1994 - accuracy: 0.9348
Epoch 26/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1976 - accuracy: 0.9348
Epoch 27/100
13/13 [==============================] - 0s 3ms/step - loss: 0.1955 - accuracy: 0.9348
Epoch 28/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1940 - accuracy: 0.9348
Epoch 29/100
13/13 [==============================] - 0s 3ms/step - loss: 0.1928 - accuracy: 0.9348
Epoch 30/100
13/13 [==============================] - 0s 3ms/step - loss: 0.1914 - accuracy: 0.9348
Epoch 31/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1906 - accuracy: 0.9348
Epoch 32/100
13/13 [==============================] - 0s 3ms/step - loss: 0.1897 - accuracy: 0.9348
Epoch 33/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1888 - accuracy: 0.9348
Epoch 34/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1885 - accuracy: 0.9348
Epoch 35/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1878 - accuracy: 0.9348
Epoch 36/100
13/13 [==============================] - 0s 3ms/step - loss: 0.1874 - accuracy: 0.9348
Epoch 37/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1874 - accuracy: 0.9348
Epoch 38/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1866 - accuracy: 0.9373
Epoch 39/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1863 - accuracy: 0.9373
Epoch 40/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1862 - accuracy: 0.9348
Epoch 41/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1859 - accuracy: 0.9348
Epoch 42/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1858 - accuracy: 0.9373
Epoch 43/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1854 - accuracy: 0.9373
Epoch 44/100
13/13 [==============================] - 0s 3ms/step - loss: 0.1854 - accuracy: 0.9373
Epoch 45/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1851 - accuracy: 0.9373
Epoch 46/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1850 - accuracy: 0.9373
Epoch 47/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1848 - accuracy: 0.9348
Epoch 48/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1847 - accuracy: 0.9348
Epoch 49/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1845 - accuracy: 0.9348
Epoch 50/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1843 - accuracy: 0.9348
Epoch 51/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1841 - accuracy: 0.9348
Epoch 52/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1840 - accuracy: 0.9348
Epoch 53/100
13/13 [==============================] - 0s 3ms/step - loss: 0.1839 - accuracy: 0.9348
Epoch 54/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1839 - accuracy: 0.9373
Epoch 55/100
13/13 [==============================] - 0s 3ms/step - loss: 0.1837 - accuracy: 0.9348
Epoch 56/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1836 - accuracy: 0.9348
Epoch 57/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1835 - accuracy: 0.9323
Epoch 58/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1833 - accuracy: 0.9348
Epoch 59/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1835 - accuracy: 0.9348
Epoch 60/100
13/13 [==============================] - 0s 3ms/step - loss: 0.1832 - accuracy: 0.9348
Epoch 61/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1830 - accuracy: 0.9348
Epoch 62/100
13/13 [==============================] - 0s 3ms/step - loss: 0.1830 - accuracy: 0.9348
Epoch 63/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1829 - accuracy: 0.9348
Epoch 64/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1829 - accuracy: 0.9348
Epoch 65/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1832 - accuracy: 0.9348
Epoch 66/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1824 - accuracy: 0.9348
Epoch 67/100
13/13 [==============================] - 0s 3ms/step - loss: 0.1825 - accuracy: 0.9348
Epoch 68/100
13/13 [==============================] - 0s 3ms/step - loss: 0.1823 - accuracy: 0.9323
Epoch 69/100
13/13 [==============================] - 0s 3ms/step - loss: 0.1824 - accuracy: 0.9323
Epoch 70/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1822 - accuracy: 0.9323
Epoch 71/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1822 - accuracy: 0.9323
Epoch 72/100
13/13 [==============================] - 0s 3ms/step - loss: 0.1820 - accuracy: 0.9348
Epoch 73/100
13/13 [==============================] - 0s 3ms/step - loss: 0.1818 - accuracy: 0.9348
Epoch 74/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1820 - accuracy: 0.9348
Epoch 75/100
13/13 [==============================] - 0s 3ms/step - loss: 0.1820 - accuracy: 0.9348
Epoch 76/100
13/13 [==============================] - 0s 3ms/step - loss: 0.1820 - accuracy: 0.9348
Epoch 77/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1815 - accuracy: 0.9348
Epoch 78/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1815 - accuracy: 0.9348
Epoch 79/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1812 - accuracy: 0.9348
Epoch 80/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1813 - accuracy: 0.9323
Epoch 81/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1810 - accuracy: 0.9323
Epoch 82/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1810 - accuracy: 0.9323
Epoch 83/100
13/13 [==============================] - 0s 3ms/step - loss: 0.1811 - accuracy: 0.9323
Epoch 84/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1808 - accuracy: 0.9323
Epoch 85/100
13/13 [==============================] - 0s 3ms/step - loss: 0.1806 - accuracy: 0.9323
Epoch 86/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1810 - accuracy: 0.9348
Epoch 87/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1806 - accuracy: 0.9348
Epoch 88/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1808 - accuracy: 0.9323
Epoch 89/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1807 - accuracy: 0.9323
Epoch 90/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1806 - accuracy: 0.9323
Epoch 91/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1803 - accuracy: 0.9323
Epoch 92/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1805 - accuracy: 0.9323
Epoch 93/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1804 - accuracy: 0.9323
Epoch 94/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1801 - accuracy: 0.9323
Epoch 95/100
13/13 [==============================] - 0s 3ms/step - loss: 0.1802 - accuracy: 0.9323
Epoch 96/100
13/13 [==============================] - 0s 3ms/step - loss: 0.1801 - accuracy: 0.9323
Epoch 97/100
13/13 [==============================] - 0s 3ms/step - loss: 0.1802 - accuracy: 0.9323
Epoch 98/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1802 - accuracy: 0.9323
Epoch 99/100
13/13 [==============================] - 0s 3ms/step - loss: 0.1801 - accuracy: 0.9323
Epoch 100/100
13/13 [==============================] - 0s 2ms/step - loss: 0.1801 - accuracy: 0.9323

##Model Prediction

In [30]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[1 1]
 [0 1]
 [0 0]
 [0 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [1 0]
 [1 1]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [1 0]
 [1 1]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [0 1]
 [0 1]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [1 0]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [1 1]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 0]
 [1 1]
 [1 1]
 [1 0]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [1 1]]

##Model Evaluation

In [49]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[41  7]
 [ 8 44]]

0.85